 .footer-container {
     width: 483px;
     text-align: center;

 }

 /*

.asda {
    margin: auto;
    color: #4731D3;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;

}

.img-area {
    display: flex;
    margin: auto;
    gap: 10px;
}

.img-area img {
    width: 25px;
    height: 25px;

} */